.top-container {
    background-color: red;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 200px;
    left: 200px

}

.middle-container {
    background-color: blue;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 100px;
    left: 100px;

}

.bottom-container {
    background-color: yellow;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0px;
    left: 0px;
}